<!DOCTYPE html>

<html xmlns="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Case Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        h1 {
            padding-bottom: 1em;
        }
    </style>
</head>

<body>
    <h1 class="h1">
        Coronavirus Tracker
    </h1>
    <table class="table">
        <tr>
            <th>Fälle Gesamt</th>
            <th>Todesfälle Gesamt</th>
            <th>Recoveries</th>
            <th>Tests</th>
        </tr>
        <tr th:each="stat : ${stats}">
            <td th:text="${stat.allCases}"></td>
            <td th:text="${stat.allDeaths}"></td>
            <td th:text="${stat.allRecoveries}"></td>
            <td th:text="${stat.tests}"></td>
        </tr>
    </table>
    <div style="height: 100%; width: 100%">
        <div id="dialerdiv1" style="float: left; width: 50%">
            <canvas id="myChart" width="100%" height="100%"></canvas>
        </div>
        <div id="dialerdiv2" style="float: left; width: 50%">
            <canvas id="myChart2" width="100%" height="100%"></canvas>
        </div>
    </div>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    <script>
    function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
    const obj = JSON.parse(httpGet("http://localhost:8082/data/chart"))

    var myChartObject = document.getElementById('myChart');
    var myChartObject2 = document.getElementById('myChart2');
    myChartObject.height = 100;
    myChartObject2.height = 100;

    var chart = new Chart(myChartObject, {
    type: 'line',
    data: {
    labels: obj["labels"],
    datasets:[
        {
    label: "Gesamte Fälle",
    borderColor: 'rgba(239, 52, 52, 1)',
    data: obj["allCases"],
    responsive: true,
    maintainAspectRatio: false
    },
    {
    label: "Erholungen",
    borderColor: 'rgba(0, 230, 64, 1)',
    data: obj["allRecoveries"],
    responsive: true,
    maintainAspectRatio: false
    }
]
    }});
    
    var chart2 = new Chart(myChartObject2, {
    type: 'line',
    data: {
    labels: obj["labels"],
    datasets:[
        {
    label: "Tests",
    borderColor: 'rgba(0, 181, 204, 1)',
    data: obj["Tests"],
    responsive: true,
    maintainAspectRatio: false
        }]
    }});
    </script>
</body>

</html>