<!DOCTYPE html>

<html xmlns="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Case Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        h1 {
            padding-bottom: 3em;
        }
    </style>
</head>


<body>
    <h1 class="h1">
        Coronavirus Tracker
    </h1>
    <table class="table">
        <tr>
            <th>Country</th>
            <th>Cases</th>
            <th>Deaths</th>
            <th>Recoveries</th>
            <th>Tests</th>
        </tr>
        <tr th:each="stat : ${stats}">
            <td th:text="${stat.placeName}"></td>
            <td th:text="${stat.allCases}"></td>
            <td th:text="${stat.allDeaths}"></td>
            <td th:text="${stat.allRecoveries}"></td>
            <td th:text="${stat.tests}"></td>
        </tr>
    </table>
    <div style="height: 300px; width: 50%">
    <canvas id="myChart" width="400%" height="400%"></canvas>
    </div>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    <script>
    function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
    const obj = JSON.parse(httpGet("http://localhost:8082/data/chart"))

    var myChartObject = document.getElementById('myChart');
    myChartObject.height = 500;
    var chart = new Chart(myChartObject, {
    type: 'line',
    data: {
    labels: obj["labels"],
    datasets:[{
    label: "Datensatz",
    borderColor: 'rgba(239, 52, 52, 1)',
    data: obj["values"],
    responsive: true,
    maintainAspectRatio: false
    
    }]
    }
    
    });
    
    
    </script>
</body>

</html>